@-webkit-keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(400%);
            transform: translateY(400%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.mainpage {
  -webkit-animation: 2s slideFromBottom;
          animation: 2s slideFromBottom;
}

.mainpage_top_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 6px;
}

.mainpage_top_block .top6_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 16px auto;
  height: 220px;
  background-color: #150050;
  border-radius: 5px;
  gap: 16px;
  padding: 0 16px;
}

.mainpage_top_block .top6_block .top6_block_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.mainpage_top_block .top6_block .top6_block_row .top6_currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #3F0071;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 450px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.mainpage_top_block .top6_block .top6_block_row .top6_currency h4 {
  font-weight: 500;
}

.mainpage_top_block .top6_block .top6_block_row .top6_currency p {
  font-weight: 200;
  font-style: italic;
}

.mainpage_top_block .top6_block .top6_block_row .top6_currency h4, .mainpage_top_block .top6_block .top6_block_row .top6_currency p {
  color: white;
  font-family: Kanit;
  margin: 8px;
}

.mainpage_top_block .top6_block .top6_block_row .top6_currency:hover {
  background-color: #610094;
  cursor: pointer;
}

.mainpage_top_block .top6_block .top6_block_row .top6_currency:hover h4 {
  letter-spacing: 0.3px;
}

.mainpage_top_block .biggest_change_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  aspect-ratio: 1/1;
  margin: 16px auto;
  height: 220px;
  background-color: #3F0071;
  border-radius: 5px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.mainpage_top_block .biggest_change_block h2, .mainpage_top_block .biggest_change_block p {
  font-family: Kanit;
  color: white;
}

.mainpage_top_block .biggest_change_block h2 {
  font-size: 36px;
}

.mainpage_top_block .biggest_change_block p {
  font-style: italic;
}

.mainpage_top_block .biggest_change_block:hover {
  background-color: #610094;
  cursor: pointer;
}

.mainpage_top_block .biggest_change_block:hover h4 {
  letter-spacing: 0.3px;
}

@media screen and (max-width: 950px) {
  .mainpage_top_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .mainpage_top_block .top6_block {
    width: 100%;
    margin-bottom: 0;
    margin-top: 6px;
    padding: 0;
  }
  .mainpage_top_block .top6_block .top6_block_row {
    margin: 0 16px;
  }
  .mainpage_top_block .biggest_change_block {
    aspect-ratio: none;
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 500px) {
  .mainpage_top_block .top6_block {
    height: auto;
    width: 100%;
    padding: 16px 0;
  }
  .mainpage_top_block .top6_block .top6_block_row {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .mainpage_top_block .top6_block .top6_block_row .top6_currency {
    width: 95%;
  }
}
/*# sourceMappingURL=MainPage.css.map */