@keyframes slideFromBottom {
  0% {
    transform: translateY(+400%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.specific_token_block {
  display: flex;
  flex-direction: column;

  animation: 1s slideFromBottom;

  background-color: #150050;

  border-radius: 5px;

  padding: 16px 32px;

  max-width: 900px;

  margin: 36px auto;

  h4, p { 
    font-family: Kanit;
    color: white;
  }

  h4 {
    font-size: 36px;
    margin: 8px 0 0 0;
  }

  .token_symbol {
    font-size: 16px;
    font-weight: 200;
    font-style: italic;

    margin-top: 0;
    margin-bottom: 24px;
  }

  p {
    font-size: 20px;
    margin: 0;
  }

  .price_block {
    display: flex;
    flex-direction: row;

    gap: 12px;
  }

  .price_history_title {
    font-size: 14px;
    font-style: italic;
    margin-top: 32px;
  }
}